# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
env/
venv/
ENV/
.venv/
ENV.bak/

# Environment variables and secrets
*.env
.env.*
secrets.json

# VS Code configuration folder
.vscode/

# macOS system files
.DS_Store

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
pytest_cache/
nosetests.xml
coverage/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MyPy cache files
.mypy_cache/
.dmypy.json
dmypy.json

# pytest cache
.pytest_cache/

# Pipfile
Pipfile.lock

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
